{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list admin_urls suit_list %}
{% block object-tools-items %}
    <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-success">
        <i class="icon-plus-sign icon-white"></i>&nbsp;
        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
    <a href="{% url cl.opts|admin_urlname:'import_data' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-primary">
        <i class="icon-upload icon-white"></i>&nbsp;
        {% blocktrans with cl.opts.verbose_name as name %}Import {{ name }}s{% endblocktrans %}
    </a>
{% endblock %}