{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block container %}
    <div class="container">

{#        <div class="row">#}
{#            <div class="col-md-8 col-md-offset-2">#}
{#                <h2><i class="icon-arrow"></i>{% trans "Localización" %}</h2>#}
{#            </div>#}
{#            <div class="col-md-8 col-md-offset-2">#}
{#                <p class="loud">#}
{#                    {% blocktrans %}#}
{#                        La PyConES 2015 se celebra en la Escuela Técnica Superior de Informática (ETSINF) de la#}
{#                        Universidad Politécnica de Valencia en el Campus de Vera,#}
{#                        <strong>del 20 al 22 de noviembre de 2015</strong>. Se accede por la Avenida de los#}
{#                        Naranjos (Avinguda deis Taronjers) y la puerta más recomendable para acceder es la puerta P.#}
{#                        Desde ahí podéis acceder a los edificios donde se celebra la conferencia que son los#}
{#                        etiquetados como <strong>1G</strong>  (ETSINF) y <strong>1F</strong> (DSIIC).#}
{#                        Las charlas plenarias serán en el Paraninfo (<strong>3A</strong>).#}
{#                    {% endblocktrans %}#}
{#                </p>#}
{#            </div>#}
{#            <div class="col-md-8 col-md-offset-2">#}
{#                <img src="{% static "img/upv_map_1.png" %}" class="img-responsive" />#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="row" style="margin-top: 30px">#}
{#            <div class="col-md-8 col-md-offset-2">#}
{#                <div class="row color-danger">#}
{#                    <div class="col-xs-12">#}
{#                        <ul class="list-unstyled loud">#}
{#                            <li><i class="icon-arrow"></i> {% trans "Los talleres del viernes serán en el edificio DSIIC, frente a la ETSINF." %}</li>#}
{#                            <li><i class="icon-arrow"></i> {% trans "Las aulas para las charlas del sábado y domingo se encuentran en la planta baja de la ETSINF." %}</li>#}
{#                            <li><i class="icon-arrow"></i> {% trans "Las charlas plenarias, apertura y cierre del congreso serán en el Paraninfo (Edificio 3A)." %}</li>#}
{#                            <li><i class="icon-arrow"></i> {% trans "El cátering para las comidas será en la Cafetería La Vella. Los cafés en la planta baja de la ETSINF." %}</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row typo-generica loud">#}
{#                    <div class="col-xs-4">#}
{#                        <img src="{% static "img/etsinf.png" %}" class="img-responsive" />#}
{#                        <p class="text-center">#}
{#                            ETSInf<br />#}
{#                            PyConES#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="col-xs-4">#}
{#                        <img src="{% static "img/dsic.png" %}" class="img-responsive" />#}
{#                        <p class="text-center">#}
{#                            DSIIC<br />#}
{#                            {% trans "Talleres" %}#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="col-xs-4">#}
{#                        <img src="{% static "img/lavella.png" %}" class="img-responsive" />#}
{#                        <p class="text-center">#}
{#                            La Vella<br />#}
{#                            Comidas#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-8 col-md-offset-2">#}
{#                <img src="{% static "img/upv_map_2.png" %}" class="img-responsive" />#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="col-md-8 col-md-offset-2">#}
{#                <h2><i class="icon-arrow"></i>{% trans "Cómo llegar" %}</h2>#}
{#                <p class="loud">{% trans "El campus de Vera está situado al norte de la ciudad de Valencia en un entorno tranquilo que limita con la huerta." %}</p>#}
{#                <p class="loud">{% trans "Puedes llegar además de utilizando el coche y andando en trasporte público:" %}</p>#}
{#                <p class="loud">#}
{#                 <span class="emt">Autobus EMT</span>, {% trans "líneas" %} <span class="emt">9</span>, <span class="emt">18</span>, <span class="emt">29</span>, <span class="emt">40</span>, <span class="emt">41</span> y <span class="emt">71</span>#}
{#                </p>#}
{#                <p class="loud">#}
{#                    <span class="metro">Metro Valencia</span>, {% trans "líneas" %} <span class="metro-4">4</span> y <span class="metro-6">9</span>. {% trans "Parada" %} <strong>Universitat Politécnica</strong>#}
{#                </p>#}
{#                <div class="row">#}
{#                    <div class="col-xs-12">#}
{#                        <h3>{% trans "Dirección" %}</h3>#}
{#                        <p class="loud">{% trans "Escuela Técnica Superior de Ingeniería Informática" %}</p>#}
{#                        <p class="loud">{% trans "Universidad Politécnica de Valencia" %}</p>#}
{#                        <p>#}
{#                            Camino de Vera, s/n<br/>#}
{#                            46022 Valencia#}
{#                        </p>#}
{#                        <p>#}
{#                            <iframe width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-0.3549528121948242%2C39.48004647954756%2C-0.34218549728393555%2C39.485859505473975&amp;layer=mapnik&amp;marker=39.48253%2C-0.34695"></iframe>#}
{#                        </p>#}
{#                        <p class="loud text-center"><a href="{% static "pdf/TES_2015_01987.pdf" %}" class="btn btn-primary btn-lg">{% trans "30 % descuento RENFE" %}</a> <a href="http://www.renfe.com/viajeros/tarifas/eventos_tutorial.html" target="_blank">¿Cómo aplicar el descuento?</a></p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="row">#}
{#                    <div class="col-sm-6">#}
{#                        <h3 id="share-car">{% trans "¡Comparte coche!" %}</h3>#}
{#                        <iframe src="http://www.blablacar.es/widget/ES_WID_PUBLIC-pyconesvlc_PSGR&amp;?from=&amp;?to=Valencia" style="border:0; padding:0;margin: 35px 0 0 0;" width="100%" height="270px" frameborder="0" scrolling="no"></iframe>#}
{#                    </div>#}
{#                    <div class="col-sm-6">#}
{#                        <p class="text-center" style="margin-top: 200px">#}
{#                            <a href="http://www.blablacar.es/coche-compartido/a-Valencia/#&amp;utm_source=WID&amp;utm_medium=Link&amp;utm_campaign=ES_WID_PUBLIC-pyconesvlc_PSGR&amp;comuto_cmkt=ES_WID_PUBLIC-pyconesvlc_PSGR" class="btn btn-primary btn-lg">{% trans "Comparte coche a Valencia" %}</a>#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{% trans "Codigo de conducta" %}</h2>
                <p class="loud">
                    {% blocktrans %}
                        PyConES aspira a crear un ambiente libre de acosos o discriminaciones por razón de género, orientación sexual, discapacidad, aspecto físico, etnia o religión. No se tolerará discriminación alguna bajo ninguna circunstancia.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Todo el contenido de la conferencia deberá ajustarse a una audiencia profesional integrada por personas procedentes de sectores diferentes. Tanto el lenguaje como las imágenes sexualmente explícitos son inapropiados en la conferencia y en las charlas.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Sé amable con los demás. No insultes o humilles a otros asistentes. Compórtate de manera profesional. Recuerda que las bromas sexistas, racistas o discriminatorias están prohibidas en la PyConES.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Los asistentes que incumplan estas reglas podrán -a discreción de los organizadores- ser sancionados o expulsados de la conferencia sin derecho a reembolso.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Gracias por ayudarnos a hacer este evento amistoso y abierto para todos.
                    {% endblocktrans %}
                </p>
                <a href="{% url "code_of_conduct" %}">{% trans "Codigo de Conducta Completo" %}</a>
            </div>
        </div>

    </div>
{% endblock container %}
