{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block container %}
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{% trans "Localizacion" %}</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p class="loud">
                    {% blocktrans %}
                        La sede de PyConES 2016 está en el campus de la Universidad de Almería, concretamente en los edificios Paraninfo y de la Facultad de Ciencias Sociales.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Dispondremos de tres salas para acomodar hasta tres sesiones paralelas:
                    {% endblocktrans %}
                </p>
                <ol class="loud">
                    <li>Paraninfo, sala plenaria.</li>
                    <li>Sala de Conferencias de CC. de la Salud.</li>
                    <li>Salón de Grados del Paraninfo.</li>
                </ol>
                <p class="loud">
                    {% blocktrans %}
                        Os hemos preparado un mapa Google Maps compilando toda la información que creemos podéis necesitar: <a href="http://bit.ly/PyConES16" target="_blank">http://bit.ly/PyConES16</a>
                    {% endblocktrans %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{% trans "Sobre Almeria" %}</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p class="loud">
                    {% blocktrans %}
                        A algunos nos gusta decir que Almería es lo más parecido que tiene España a una isla sin salir de la Península. La relativa inaccesibilidad ha servido para proteger del turismo desaforado una diversidad de paisajes que suelen enamorar al viajero. Almería es un gran plató a cielo abierto donde se han rodado toda clase de filmes, anuncios o vídeos musicales. Nuestro clima es cálido pero templado todo el año. Nuestro cielo, tan claro, es el que enamoró al director David Lean. Si queréis explorar las posibilidades turísticas de Almería podéis consultar las siguientes fuentes:
                    {% endblocktrans %}
                </p>
                <ul class="loud">
                    <li><a href="http://www.turismoalmeria.com/" target="_blank">{% trans "Costa de Almería" %}</a></li>
                    <li><a href="http://www.andalucia.org/es/contacta-con-nosotros/almeria/almeria-3/" target="_blank">{% trans "Patronato provincial de turismo de Almería" %}</a></li>
                    <li><a href="http://www.turismodealmeria.org/" target="_blank">{% trans "Turismo de Almería (ciudad)" %}</a></li>
                </ul>
                <p class="loud">
                    {% blocktrans %}
                        Económicamente Almería es además una pequeña potencia en el sector agroalimentario. Nuestra industria y servicios exportan fruta y hortalizas a toda Europa y es una de las referencias mundiales del sector. Y si creías que la única construcción humana que podía verse desde el espacio era la Muralla China tenemos que confirmarte que no es cierto, pero que sí se ve el reflejo del inmenso mar de plástico del Campo de Dalías bajo el que se cultivan alimentos que probablemente consumes con regularidad.
                    {% endblocktrans %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{% trans "Como desplazarse hasta el campus" %}</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p class="loud">
                    {% blocktrans %}
                        El campus tiene varios espacios de aparcamiento para los que optéis por el transporte privado. El desplazamiento puede hacerse tanto por la autovía, tomando la salida a La Cañada, como por la carretera de la costa.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Quienes optéis por el transporte público tendréis disponible especialmente la línea 18 de la empresa local de transportes, Surbus. Dicha línea regular contará con refuerzos puntuales para los desplazamientos al congreso. La parada de la Universidad es la número 144 (http://m.surbus.com/tiempo-espera/parada/144). Surbús dispone de una aplicación web para consultar los tiempos de espera de cada parada (http://m.surbus.com/tiempo-espera/paradas). En el mapa del evento tenéis anotadas todas las paradas de la línea 18 (<a href="http://bit.ly/PyConES16" target="_blank">http://bit.ly/PyConES16</a> )
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        También disponemos de dos servicios de taxi:
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        <strong>Radio taxi</strong> <br/>
                        950 22 22 22 - 950 22 61 61<br/>
                        <a href="http://www.radiotaxialmeria.es/" target="_blank">http://www.radiotaxialmeria.es/</a>
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        <strong>Tele Taxi</strong> <br/>
                        950 251 111<br/>
                        <a href="http://teletaxialmeria.com/" target="_blank">http://teletaxialmeria.com/</a>
                    {% endblocktrans %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{% trans "Como llegar a Almeria" %}</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p class="loud">
                    {% blocktrans %}
                        <strong>Avión</strong>: El <a href="http://www.aena.es/es/aeropuerto-almeria/index.html" target="_blank">aeropuerto de Almería</a> tiene enlaces nacionales directos con al menos Sevilla, Melilla, Madrid y Barcelona y según la temporada también enlaces regulares con otras ciudades europeas, especialmente con aerolíneas de bajo coste. Puedes desplazarte desde el aeropuerto al centro de la ciudad en taxi o en autobús (<a href="http://www.aena.es/es/aeropuerto-almeria/transporte-publico.html" target="_blank">línea 22</a>)
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        <strong>Tren</strong>: La magnífica estación de ferrocarril de Almería, en proceso de restauración, está en el mismísimo centro de la ciudad. Forma parte de una moderna <a href="http://www.adif.es/es_ES/infraestructuras/estaciones/56312/informacion_000069.shtml"> estación intermodal</a>. Las conexiones por tren principales son con Madrid y Granada-Sevilla. Y no, no sólo no tenemos AVE sino que se están tapiando los túneles ya construidos «para que no les roben el cobre» 😃
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        <strong>Puerto</strong>: También en el mismísimo centro de la ciudad disponemos de un puerto modernizado y activo. Si viajas a Almería desde el norte de África disponemos de <a href="http://www.apalmeria.com/index.php?option=com_content&view=article&id=95&Itemid=92&lang=es"> conexiones regulares con Melilla, Nador, Ghazaouet y Orán</a>.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        <strong>Autobús</strong>: Llegando a la misma estación intermodal ya mencionada. Hay conexiones diarias a ciudades de Andalucía, a Madrid y por levante hasta Barcelona.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        <strong>Vehículo propio</strong>:
                    {% endblocktrans %}
                </p>
                <ul class="loud">
                    <li>{% trans "por la costa, a través de la Autovía del Mediterráneo A-7, E-15" %}</li>
                    <li>{% trans "desde el interior, a través de la A-92" %}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{% trans "Alojamiento" %}</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p class="loud">
                    {% blocktrans %}
                        Estamos trabajando para ofreceros un hotel recomendado, hasta entonces os sugerimos las siguientes indicaciones:
                    {% endblocktrans %}
                </p>
                <ul class="loud">
                    <li>
                        {% blocktrans %}
                        <a href="https://www.google.com/maps/d/viewer?mid=1Qm5_h5uTqriVSYBHS_SP3NVgjHc">en el mapa que hemos preparado</a> tenéis apuntados los alojamientos más próximos a la línea 18 de autobús
                        {% endblocktrans %}
                    </li>
                    <li>{% trans "en el mismo mapa opcionalmente tenéis indicada la situación de otros dos grupos de hoteles, uno en la capital y otro en el complejo hotelero de El Toyo, en la zona de Retamar, que puede ser de vuestro interés si viajáis en familia y con vehículo propio" %}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{% trans "Codigo de conducta" %}</h2>
                <p class="loud">
                    {% blocktrans %}
                        PyConES aspira a crear un ambiente libre de acosos o discriminaciones por razón de género, orientación sexual, discapacidad, aspecto físico, etnia o religión. No se tolerará discriminación alguna bajo ninguna circunstancia.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Todo el contenido de la conferencia deberá ajustarse a una audiencia profesional integrada por personas procedentes de sectores diferentes. Tanto el lenguaje como las imágenes sexualmente explícitos son inapropiados en la conferencia y en las charlas.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Sé amable con los demás. No insultes o humilles a otros asistentes. Compórtate de manera profesional. Recuerda que las bromas sexistas, racistas o discriminatorias están prohibidas en la PyConES.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Los asistentes que incumplan estas reglas podrán -a discreción de los organizadores- ser sancionados o expulsados de la conferencia sin derecho a reembolso.
                    {% endblocktrans %}
                </p>
                <p class="loud">
                    {% blocktrans %}
                        Gracias por ayudarnos a hacer este evento amistoso y abierto para todos.
                    {% endblocktrans %}
                </p>
                <a href="{% url "code_of_conduct" %}">{% trans "Codigo de Conducta Completo" %}</a>
            </div>
        </div>

    </div>
{% endblock container %}
