{% extends "base.html" %}
{% load i18n %}


{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                {% block content %}
                    <form method="post" action="{% url "proposals:submit" %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">{% trans "Enviar propuesta" %}</button>
                    </form>
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock container %}