.schedule {
  .day {
    text-align: center;
    background-color: @brand-primary;
    h2 {
      color: #fff;
    }
    margin-top: 10px;
    margin-bottom: 7px;
  }
  .track-title {
    color: #fff;
    h2, h3, h4 {
      font-weight: bold;
      color:#444;
    }
    text-align: center;
    margin-bottom: 7px;
    &:nth-child(odd) {
      background-color: @logo1;
    }
    &:nth-child(even) {
      background-color: @logo2;
    }
  }
  .slot-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .slot {
    h2, h3, h4 {
      color: #444;
    }
    h3 {
      font-size: 18px;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background-color: #fff;
    border-left: 4px solid @logo1;
    .slot-inner {
      cursor: pointer;
      padding: 5px 7px;
    }
    &-plenary {
      height: auto;
      border-left: 4px solid @logo3;
      background-color: lighten(@logo3, 15%);
      color: #fff;
      text-align: center;
      font-size: 18px;
      > .slot-inner {
        border: none;
      }
    }
    .slot-kind {
      text-align: right;
      float: right;
      font-weight: bold;
    }
    // Slot kind classes
    @light_percentage: 30%;
    @border-size: 8px;
    &-security {
      //border-top: @border-size solid #e74c3c;
      //border-left: none;
      border-left: @border-size solid #e74c3c;
      //background-color: lighten(#e74c3c, @light_percentage);
      .slot-kind {
        color: #e74c3c;
      }
    }
    &-science {
      //border-top: @border-size solid #d35400;
      //border-left: none;
      border-left: @border-size solid #d35400;
      //background-color: lighten(#d35400, @light_percentage);
      .slot-kind {
        color: #d35400;
      }
    }
    &-python {
      //border-top: @border-size solid #3498db;
      //border-left: none;
      border-left: @border-size solid #3498db;
      //background-color: lighten(#3498db, @light_percentage);
      .slot-kind {
        color: #3498db;
      }
    }
    &-web {
      //border-top: @border-size solid #9b59b6;
      //border-left: none;
      border-left: @border-size solid #9b59b6;
      //background-color: lighten(#9b59b6, @light_percentage);
      .slot-kind {
        color: #9b59b6;
      }
    }
    &-iot {
      //border-top: @border-size solid #27ae60;
      //border-left: none;
      border-left: @border-size solid #27ae60;
      //background-color: lighten(#27ae60, @light_percentage);
      .slot-kind {
        color: #27ae60;
      }
    }
    &-comunity {
      //border-top: @border-size solid #f1c40f;
      //border-left: none;
      border-left: @border-size solid #f1c40f;
      //background-color: lighten(#f1c40f, @light_percentage);
      .slot-kind {
        color: #f1c40f;
      }
    }
    &-bigdata {
      //border-top: @border-size solid #34495e;
      //border-left: none;
      border-left: @border-size solid #34495e;
      //background-color: lighten(#34495e, @light_percentage);
      .slot-kind {
        color: #34495e;
      }
    }
  }
}