{% extends "base.html" %}
{% load i18n %}
{% block container %}
    <div class="container">
        <div class="row claim">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h1>
                    {% trans "PyConES" %} <br />
                    <small>{% trans "Valencia - 2015" %}</small>
                </h1>
                <a href="https://twitter.com/pycones" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
{% endblock container %}