{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block container %}
    <div class="container">
        <div class="row claim">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="{% static "img/python-white.png" %}" alt="Python">
                    </div>
                    <div class="media-body">
                        <h1 class="media-heading">
                            {% trans "PyConES" %} <small>{% trans "Almería 2016" %}</small>
                        </h1>
                        <p>{% trans "Estamos preparando la nueva edición de la PyConES, dentro de poco habrá más novedades." %}</p>
                        <p><a href="https://twitter.com/pycones" target="_blank"><i class="fa fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
