{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-12" style="min-height: 300px">

            <h2><i class="icon-arrow"></i>{% trans "Establece o restaura tu contraseña" %}</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field }}
                            {% if field.errors %}
                            <span class="help-block">{{ field.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">{% trans "Enviar" %}</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock content %}