{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block container %}

    <div class="container schedule">
        {% for day in days %}
        <div class="row">
            <div class="col-xs-12 day">
                <h2>{{ day.date }}</h2>
            </div>
        </div>
        {% if forloop.counter0 != 0 %}
        <div class="row">
            <div class="col-xs-12 col-sm-4 track-title track-title-basic">
                <h3>{% trans "Track PSF (básico)" %}</h3>
            </div>
            <div class="col-xs-12 col-sm-4 track-title track-title-advanced">
                <h3>{% trans "Track Avanzado" %}</h3>
            </div>
            <div class="col-xs-12 col-sm-4 track-title track-title-science">
                <h3>{% trans "Track BigML (científico)" %}</h3>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-xs-12 track-title track-title-advanced">
                <h3>{% trans "Talleres" %}</h3>
            </div>
        </div>
        {% endif %}
        {% for slot in day.slots %}
            {# Assuming 3 tracks and a room for track #}
            {# Plenary uses all row #}
            {% if slot.kind.plenary %}
                <div class="row">
                    <div class="col-xs-12 slot slot-plenary">
                        {% include "schedule/_slot.html" %}
                    </div>
                </div>
            {# If not plenay, 3 columns #}
            {% else %}
                {% cycle '<div class="row">' '' '' %}
                <div class="col-xs-12 col-sm-4 slot {% cycle 'slot-basic' 'slot-advanced' 'slot-science ' %}">
                    {% include "schedule/_slot.html" %}
                </div>
                {% cycle '' '' '</div>' %}
            {% endif %}
        {% endfor %}
        {% endfor %}
    </div>

    <div class="container">
        <div class="row text-center" style="margin: 15px 0">
            <div class="col-sm-3">
                <a href="{% static "pdf/Agenda_PyConES_2015.pdf" %}" target="_blank" class="btn btn-success">{% trans "Descargar en PDF" %}</a>
            </div>
            <div class="col-sm-3">
                <a href="{% url "schedule_icalendar" %}" target="_blank" class="btn btn-success">{% trans "Descargar en iCalendar" %}</a>
            </div>
            <div class="col-sm-3">
                <a href="{% url "schedule_xcal" %}" target="_blank" class="btn btn-success">{% trans "Descargar en xCal" %}</a>
            </div>
            <div class="col-sm-3">
                <a href="{% url "schedule_pentabarf" %}" target="_blank" class="btn btn-success">{% trans "Descargar en Pentabarf XML" %}</a>
            </div>
        </div>
    </div>

{% endblock container %}